/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';
// Inclua a biblioteca de temas
@include mat-core();

 // Define a paleta de cores
 $primary: mat-palette($mat-indigo);
 $accent: mat-palette($mat-pink, A200, A100, A400);
 $warn: mat-palette($mat-red);

 // Cria o tema
 $my-app-theme: mat-light-theme((
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat-typography-config(),
    density: 0,
  ));

// Inclui o tema
@include angular-material-theme($my-app-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
